.character-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.character-box {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 25%;
  margin: 5px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}
